{:users {:aerospike-migration.spec/columns [:first-name :last-name :phone :dob]
         :first-name                       {:aerospike-migration.spec/bin      "first_name"
                                            :aerospike-migration.spec/function :identity}
         :last-name                        {:aerospike-migration.spec/bin      "last_name"
                                            :aerospike-migration.spec/function :identity}
         :phone                            {:aerospike-migration.spec/bin      "phone"
                                            :aerospike-migration.spec/function :identity}
         :dob                              {:aerospike-migration.spec/bin      "dob"
                                            :aerospike-migration.spec/function :timestamp->epoch-seconds}
         :aerospike-migration.spec/pk-info {:aerospike-migration.spec/pk-info.primary-keys [:phone]
                                            :aerospike-migration.spec/pk-info.prepend      "user"
                                            :aerospike-migration.spec/pk-info.append       ""
                                            :aerospike-migration.spec/pk-info.delimiter    "_"}}}
